################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.lnk

# Build results
bin/
obj/

# Visual Studio cache/options directory
.vs/
